/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-position: center;
}
body.scroll-down header {
    opacity: 0;
}

/* Barra de Navegação */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(./img/fundo-barra-navegacao.png);
    background-size: cover;
    background-position: center;
    padding: 10px 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin: 0 10px;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#navbar ul li a:hover {
    text-decoration: underline;
    color: #ffc107;
}

/* Seção de Boas-Vindas */
.welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease; 
    z-index: 999;
}

.welcome-section h1 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}

/* Seção de Projetos */
.projects-section {
    padding: 50px 20px;
}

.project-tile {
    background-image: url(./img/fundo-projetos.png);
    background-size: 100%;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

.project-tile h2 {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}

.project-tile p {
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    margin-top: 10px;
}

.project-tile a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.project-tile a:hover {
    background-color: #555;
}

#navbar ul li {
        display: block;
        margin: 10px 0;
    }

.profile-links{
    display: inline-block;
    font-size: 12px;
    width: 5%;
   
}

.img-link {
    width: 200%;
}